<table>
  <tr>
    <td colspan=2 class="">
      <span class='user-name' >Ильченко Юрий Владимирович</span>
    </td>
  </tr>

  <tr>
    <td style="width:60%" class="image-section">
      <%= image_tag('avatar2.jpg',:class => 'user-image', :width => 456, :height=>456 ) %>
    </td>
    <td>
      <ul class="right-menu">
        <li><%= link_to("Обо мне", "#") %></li>
        <li><%= link_to("Мои работы", "#") %></li>
        <li><%= link_to("Сделать заказ") %></li>
        <li><%= link_to("Контакты", "#") %></li>
      </ul>
    </td>
  </tr>
</table>